:root {
  /* 1st version */
  /* --pink: #e39292;
  --pink-pale: #e3929298; */

  /* 2nd version */
  --red: #db1616;
  --white: white;
  --pink-pale: #e3929298;
  --divider-dark-2: #de483a;
  --blue: #1849cf;
  --white-pale: rgba(255, 187, 187, 0.719);

  --divider-light-1: rgb(87, 4, 4);
  --divider-light-2: rgb(39, 1, 1);
  --divider-dark-1: rgb(109, 0, 0);
  --divider-dark-2: #de483a;

  --text-light-1: var(--red);
  --text-light-2: #de483a;
  --text-dark-1: var(--red);
  --text-dark-2: #c21c1c;

  /* 3rd version */
  --white: white;
  --background-dark: #012443;
  --background-darker: #021d33;
  --background-dark-transparent: #012443d5;
  --pink-pale: rgb(246, 114, 128);
  --divider-dark-1: #9b0000;
  --divider-dark-2: #355c7d;
  --divider-dark-3: rgb(144, 55, 73);
  --white-pale: rgb(209, 168, 168);
  --text-dark-2: #012443;
  --text-dark-1: rgb(192, 108, 132);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--background-dark);
  --color-background-transparent: var(--background-dark);
  --color-menu: var(--white);
  --color-border: var(--divider-dark-1);
  --color-border-hover: var(--white-pale);
  --color-text: var(--text-dark-2);
  --color-header: var(--divider-dark-3);
  --color-hover: var(--divider-dark-1);
  --swiper: var(--divider-dark-2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--background-dark);
    --color-menu: var(--white);
    --color-border: var(--divider-dark-1);
    --color-border-hover: var(--white-pale);
    --color-text: var(--text-dark-2);
    --color-hover: var(--divider-dark-1);
    --swiper: var(--divider-dark-2);
  }
}
