:root {
  --red: #db1616;
  --pink: #e39292;
  --pink-pale: #e3929298;
  --color-hover: rgb(39, 1, 1);

  --divider-light-1: rgb(87, 4, 4);
  --divider-light-2: rgb(39, 1, 1);
  --divider-dark-1: rgb(87, 4, 4);
  --divider-dark-2: rgb(39, 1, 1);

  --text-light-1: var(--red);
  --text-light-2: #c21c1c;
  --text-dark-1: var(--red);
  --text-dark-2: #c21c1c;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--pink);
  --color-background-pale: var(--pink-pale);

  --color-border: var(--divider-dark-2);
  --color-border-hover: var(--divider-dark-1);

  --color-heading: var(--text-dark-1);
  --color-text: var(--text-dark-2);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--pink);


    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 200vh;
  color: var(--color-text);
  background: #2e2e2e;

  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  -webkit-text-stroke: 1.9px #db1616;
  -webkit-text-fill-color: #e39292;
  color: transparent;
}
